/*
Theme Name:     Gleam Child Theme
Description:    Customizations for Intimate Sound Enclosures
Author:         Andrew Cobb
Template:       Gleam

(optional values you can add: Theme URI, Author URI, Version)
*/

@import url("../Gleam/style.css");

#pattern_overlay {
	background: none;
}

p.meta-info {
	display: none;
}

#wpmp-tabs {
	display: none;
}

.wp-marketplace .span7 {
	display: none;
}

.wp-marketplace .row-fluid .span5 {
	float: right;
	margin-top: -100px;
}

/* Homepage Menu */
#main_menu a {
	width: 100%;
	height: 35px;
}

span.menu_slide, span.main_text {
	padding: 10px 5px 11px 30px;
}

#main_menu li.odd {
	width: 100%;
}

#main_menu li {
	width: 100%;
}

span.menu_slide, span.main_text {
	width: 100%;
}

/* Footer Menu */
@media only screen and (max-width: 1180px) {
  #menu-master-menu {
    text-align: center;
    width: 100%;
  }
  
  .home #footer_menu {
    height: 115px;
  }
  
  #footer_menu {
    height: 68px;
  }
  
  #secondary_menu a span.main_text, #secondary_menu a span.menu_slide {
    padding: 6px 17px;
    height: 33px;
  }
  
  #secondary_menu li {
    height: 35px;
    display: inline-block;
    float: none;
  }
  
  body #small_thumbs {
    bottom: 69px;
  }
  
  #secondary_menu a {
    height: 30px;
  }
  
  #wrapper #et_backgrounds img {
    width: 900px !important;
  }
}

@media only screen and (max-width: 920px) {
  #wrapper #et_backgrounds img {
    width: 600px !important;
  }
  
  #thumb_switcher {
    display: none;
  }
  
  body #small_thumbs {
    bottom: 69px;
    right: 0;
    left: 75%;
    margin-left: 0px !important;
    padding: 7px 34px 50px 42px;
  }
  
  .et_fs_slide h2 {
    font-size: 30px;
  }
  
  .et_fs_slide p {
    font-size: 12px;
    text-shadow: none;
  }
  
  #et_slideshow_fs {
    left: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .home #footer_menu {
    height: 150px;
  }
  
  #footer_menu {
    height: 100%;
    position: relative;
  }
  
  #secondary_menu li {
    height: 30px;
  }
  
  #secondary_menu a {
    height: 25px;
  }
  
  #secondary_menu a span.main_text, #secondary_menu a span.menu_slide {
    padding: 2px 10px;
    height: 41px;
  }
  
  body #small_thumbs {
    bottom: 0px;
    margin-left: -235px;
  }
  
  #wrapper #et_backgrounds img {
    width: 300px !important;
  }
  
  body #et_slideshow_fs {
    top: 342px;
  }
  
  #et_slideshow_fs .et_fs_slide h2 {
    font-size: 20px;
    text-align: center;
    text-shadow: none;
  }
  
  #et_backgrounds,
  #et_backgrounds li, 
  #pattern_overlay {
    top: 110px;
  }
}

#main_content.home_content {
	margin-left: 215px !important;
	margin-top: -333px !important;
	width: 309px !important;
	top: 369.5px !important;
}

#logo_area {
	position: relative;
	padding: 5px 0 5px;
}

#logo_area h1 {
	font-size:33px !important;
}

#et_slideshow_fs {
	width: 200px;
	top: 52px;
}

.et_fs_slide {
	color: maroon;
}
.et_fs_slide h2 {
	color: maroon;
}

/* Speaker page background image */
#et_backgrounds img {
	width: auto !important;
	height: auto !important;
	box-shadow: 10px 10px 5px #888888;
}

#et_backgrounds li {
	text-align: center;
	margin-top: 50px;
	background: white;
}

.wpsc_description {
	display: none;
}

.wp-caption p.wp-caption-text {
	color: black;
	font-size: 14px;
	line-height: 17px;
}

.post-content p {
	font-size: 14px;
}

.wpsc_default_product_list .default_product_display .wpsc_variation_forms label {
	color: #fff;
}

.single_product_display .imagecol {
	display: none;
}

.wpsc_default_product_list .wpsc_buy_button_container {
	display: none;
}